#weddingparty {
  margin: 20px 0;
  padding: 30px;

  .fineprint {
    font-family: @header-font;
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
  }

  .party {
    margin: 20px 0;
    text-align: center;
    .bridesmaids {
      float: left;
      width: 45%;
      margin-right: 10px;
    }
    .groomsmen {
      float: right;
      width: 45%;
    }

    .title {
      font-family: @header-font;
      font-size: 20px;
      text-align: center;
      letter-spacing: 2px;
      color: @off;
    }

    .img {
      margin: 10px 0;
      img{
         width: 300px;
      }
    }

    &:after {
      clear: both;
      display: block;
      content: "";
    }
  }
}
