<section id="about">
  <div class="header">About Us</div>
  <div class="imgcon">
    <img src="images/us.jpg"/>
  </div>
  <div class="text">
    <p>
      <span class="name marc">Marc:</span> We met on May 12, 2011 at a RAPS Rutgers Association of Philippine Students (RAPS) semiformal and it was love at first sight.
    </p>
    <p>
      <span class="name jenny">Jenny:</span> No, it definitely it wasn't!
    </p>
    <p>
      <span class="name marc">Marc:</span> Well okay, but we did start to hang out a lot after that day. And I remember finally asking her out on a date, I knew she was the one from then on.
    </p>
    <p>
      <span class="name jenny">Jenny:</span> That's cute. We actually missed many opportunities to meet since we've been at the same place at the same time on numerous occasions.
    </p>
    <p>
      <span class="name marc">Marc:</span> Fate!
    </p>
    <p>
      <span class="name jenny">Jenny:</span> After hanging out, we realized how much we have in common like music, food, and love for traveling.
    </p>
    <p>
      <span class="name marc">Marc:</span> And after a while I introduced her to snowboarding and now she's super pro at it. I also got her into whiskey!
    </p>
    <p>
      <span class="name jenny">Jenny:</span> And I got him into Harry Potter. Funny story about one of our first dates: I had plans to watch a midnight showing of the last Harry Potter movie and Marc wanted to tag along without any knowledge of the series. I later made him watch all 8 Harry Potter films but I'm still working on getting him to read the actual books.
    </p>
    <p>
      <span class="name marc">Marc:</span> I wiki'd the plots. It worked out in the end.
    </p>
    <p>
      <span class="name jenny">Jenny:</span> You know nothing, Marc Mance. I'm really excited that he's finally into Game of Thrones now too.
    </p>
    <p>
      <span class="name marc">Marc:</span> Anyways,  within the past five years, we traveled to the Caribbean, Mexico, and road-tripped across the country twice in two years. Our love for travel fueled our adventures.
    </p>
     <p>
      <span class="name jenny">Jenny:</span> I love my travel buddy. Speaking of, we recently adopted a really cute 3-year-old corgi lab named Buddy which was already his name when we rescued him. Coincidentally, his birthday is on our dating anniversary! 7/11 <3<br/>
      <br/>
      <div class="buddy">

        <img src="images/buddy.png"/>
      </div>
    </p>
    <p>
      <span class="name marc">Marc:</span> I knew from the beginning of our relationship that I would propose to her on her favorite place, the Brooklyn Bridge.
    </p>
    <p>

      <span class="name jenny">Jenny:</span> It was perfect, but it was no surprise. Since I'm a total urban planning nerd, he wanted to bring me to the Transit Museum in Brooklyn but he also asked me to dress nicely which totally gave it away. I even did my nails.
    </p>

    <p>
      <span class="name marc">Marc:</span> She totally didn't know. She was surprised! And from then we were officially engaged on April 19, 2015.
    </p>

  <p class="shoutout">
    <br/><br/>
*Shout out to Marc Mance for creating this entire wedding website from scratch. You talented web dev, you.
  </p>
  </div>
</section>
