<section id="about">
  <div class="header">About Us</div>
  <div class="text">
    Marc and Jenny met on May 12, 2011 at a RAPS semiformal and it was love at first sight. (No, it wasn't.) The two later hit it off at a friend's birthday party in NYC later that summer and it was all mostly sweet romance and sunshine from there. They realized how much they have in common such as their love of concerts, food, and traveling. Within the past five years, the two have traveled to the Caribbean, Mexico, and  road-tripped across the country twice trying to fulfill Jenny's goal of traveling to each state; she's reached 43 so far! The two love sharing their interests with one another; Marc introduced her to snowboarding and Jenny introduced him to Harry Potter and Game of Thrones. Together they share a really cute 3-year-old corgi lab named Buddy.
  </div>
</section>
