<section id="accommodations">
  <div class="header">Accommodations</div>
  <div class="info">For your comfort and convenience we have made the following hotel arrangements.</div>
  <div class="hotel">
    <div class="small-header"><b>The Radisson Hotel</b></div>
    <div class="smaller-header">(reception location)</div>
    <div>
      A block of rooms have has reserved at the Radisson Hotel under the group name <b>Jimenez-Mance Wedding</b>. These rooms can be reserved by calling <b>(732) 780-3400</b> or online using the code <b>1609JJ</b> at <a href="http://www.radisson.com/freeholdnj" target="_blank">www.radisson.com/freeholdnj</a>. Kindly reserve your room by <b>July 20th</b>.
    </div>
  </div>

  <div class="hotel">
    <div class="small-header"><b>The Holiday Inn</b></div>
    <div class="smaller-header">399 Monmouth Street, <br/>East Windsor, NJ, 08520<br/>(609) 448-7000</div>
    <div>
      A block of rooms have has reserved at the Holiday Inn using the reference name <b>Jimenez-Mance</b> and code <b>EG1</b>. Kindly reserve your room by <b>August 15th</b>.
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d97459.57001201737!2d-74.47193011174357!3d40.23993804011674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x89c3d432302c31b9%3A0x4566178cbc3dd160!2sRadisson+Hotel+Freehold%2C+NJ%2C+Gibson+Place%2C+Freehold%2C+NJ!3m2!1d40.2475588!2d-74.2979728!4m5!1s0x89c3df29c043700f%3A0xd13f00c4dd65e8b1!2s399+Monmouth+St+East+Windsor%2C+NJ+08520!3m2!1d40.270942!2d-74.5071245!5e0!3m2!1sen!2sus!4v1464224764001" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</section>
