<section id="ceremony">
  <div class="header">Ceremony</div>
  <div class="small-header">
    Saint Veronica's Church<br/>
    Howell. NJ<br/>
    1:15 PM
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3049.6008969675127!2d-74.22759768471283!3d40.15117297939701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c17f78e0d1f889%3A0x5dadeda14eedc0bf!2sSt+Veronicas!5e0!3m2!1sen!2sus!4v1462246116174" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>
