<section id="reception">
  <div class="header">Reception</div>
  <div class="small-header">
    The Crystal Ballroom @ The Raddison<br/>
    Freehold. NJ<br/>
    7 PM
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.268726047045!2d-74.3001614847097!3d40.24755877938515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3d432302c31b9%3A0x4566178cbc3dd160!2sRadisson+Hotel+Freehold%2C+NJ!5e0!3m2!1sen!2sus!4v1462246210228" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>
