<section id="things">
  <div class="header">Things to do</div>

  <div class="comingsoon">
    <div>
      Listed below are points of interests relative to the Radisson where you can spend time before, after or in between the ceremony and reception. You can shop, play, eat or drink at these suggested nearby attractions.
    </div>

    <div class="things">
      <div class="small-header">
        Freehold Mall
      </div>
      <div>
        Shopping mall and movie theater just a mile away.
      </div>
    </div>

    <div class="things">
      <div class="small-header">
        <span>i</span>Play America
      </div>
      <div>
        Huge indoor fun center 2 miles away with bumper cars, go-karts, laser tag and video games, plus a bar and grill, making it fun for all ages.
      </div>
    </div>

    <div class="things">
      <div class="small-header">
        Downtown Freehold
      </div>
      <div>
        The historic Downtown Freehold is full of resturants, shops, cafes and bars only 2 miles away.
      </div>
    </div>

    <div class="things">
      <div class="small-header">
        Asbury Park / Belmar / Ocean Grove
      </div>
      <div>
        These are the closest beaches and boardwalks, roughly 15-20 miles away (a short half hour drive).
      </div>
    </div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1zdcEHM-5ObIyTdRBMUONu3WEp14" width="640" height="480"></iframe>
  </div>
</section>
