<section id="weddingparty">
  <div class="header">Wedding Party</div>
  <div class="fineprint">(according to the bride and groom)</div>
  <div ng-repeat="p in vars.party | orderBy:['order']" class="party" >
    <div class="bridesmaids">
      <div class="small-header name">
        {{p.b}}
      </div>
      <div class="title" ng-if="p.b === 'Justine Young'">
        Maid of Honor
      </div>
      <div class="img">
        <img ng-src="images/{{p.bimg}}" alt="Description" />
      </div>
      <div class="desc">
        {{p.bdesc}}
      </div>
    </div>
    <div class="groomsmen">
      <div class="small-header name">
        {{p.g}}
      </div>
      <div class="title" ng-if="p.g === 'Matthew Mance'">
        Best Man
      </div>
      <div class="img">
        <img ng-src="images/{{p.gimg}}" alt="Description" ng-if="p.bimg"/>
        <img ng-src="doge.jpg" ng-if="!p.gimg" alt="Description" />
      </div>
      <div class="desc" ng-bind-html="p.gdesc">
      </div>
    </div>
  </div>
</section>
